body {
  font-family: "Poppins", sans-serif;
  background: radial-gradient(circle at top, #062917, #000);
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.container {
  background: rgba(10, 25, 18, 0.95);
  padding: 38px;
  border-radius: 16px 4px 16px 4px;
  box-shadow: 0 0 25px rgba(0, 255, 128, 0.4),
              inset 0 0 18px rgba(255, 215, 0, 0.25);
  text-align: center;
  width: 340px;
  border: 2px dashed #c5a100;
  transform: rotate(-1deg);
  transition: 0.4s ease;
}

.container:hover {
  transform: rotate(0deg) scale(1.03);
  box-shadow: 0 0 35px rgba(0, 255, 128, 0.5),
              inset 0 0 22px rgba(255, 215, 0, 0.3);
}

h1 {
  color: #e0c671;
  text-shadow: 0 0 12px #bfa21a, 0 0 25px #2e8b57;
  margin-bottom: 22px;
  letter-spacing: 1px;
  transform: rotate(-1deg);
}

input, select, button {
  margin: 12px 0;
  padding: 12px;
  width: 92%;
  border-radius: 10px 3px 10px 3px;
  border: 2px dashed #2e8b57;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e6e6e6;
  outline: none;
  box-shadow: 2px 2px 5px rgba(0, 255, 128, 0.3);
  transition: all 0.3s ease;
}

input:focus, select:focus {
  box-shadow: 0 0 12px #39ff14, 0 0 20px rgba(46, 139, 87, 0.4);
  border-color: #39ff14;
  transform: scale(1.05) rotate(-1deg);
}

button {
  background: linear-gradient(90deg, #1a472a, #3c9a5f);
  color: #fff;
  font-weight: bold;
  border: 2px solid #b8860b;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.4);
  transition: 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background: linear-gradient(90deg, #3c9a5f, #1a472a);
  box-shadow: 0 0 20px rgba(255, 215, 0, 0.6),
              0 0 35px rgba(46, 139, 87, 0.5);
  transform: scale(1.08) rotate(1deg);
}

#resultado {
  margin-top: 18px;
  font-weight: bold;
  color: #e0c671;
  text-shadow: 0 0 8px #3c9a5f, 0 0 18px rgba(46, 139, 87, 0.3);
  transition: 0.4s ease;
}